/* ============全局============ */
div,ul,ol,form {margin:0;padding:0;}
img {border:0;}
li {list-style:none;}
table {font-size:12px;}
input {font-family:tahoma,Arial,Helvetica,sans-serif;font-size:12px;vertical-align:middle;}
h1,h2,h3,h4,h5,h6,h7 {margin:0;padding:0;text-align:left;font-size:12px;font-weight:400;}
p {margin:0;}

html {overflow:hidden!important;overflow:auto;height:100%;}

body {
color: #222;
text-align: center;
margin:0;
font-family:Arial,tahoma,Helvetica,sans-serif;
font-size: 12px;
height:100%;
width:100%;
overflow:hidden;
line-height: 150%;
background:#fff url("/OnlineMealBooking/images/admin_imgs/body_background.png") repeat-x left -20px;
word-break:break-all;
}
a:link{text-decoration:none;color:#42414A;}
a:visited {text-decoration:none;color:#42414A;}
a:hover {text-decoration:none;color:#999;}
a:active {text-decoration:none;color:#999;}

/* ============常用============ */
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.block {display:block;}
.none {display:none;}

.red {color:#AA2015!important;}
.blue {color:#319EEF!important;}
.green {color:#090!important;}
.strong {font-weight:600!important;}
/* ============布局============ */
/* 头部 */
#header {margin:0;height:35px;clear:both;}
#header ul {float:right;margin:5px 4px 0 0px;color:#fff;height:20px;}
#header ul li {float:left;}
#header ul a {color:#fff;}
#header ul a:hover {color:#fff;text-decoration:underline;}
/* 内容 */
#contents {clear:both;height:92%;width:auto;margin:5px 5px 0 5px;}
/* 内容左层 */
#contents .left {width:200px;height:87%;}
/* 大按扭 */
#contents .left ul.bigbtu { margin-top:3px; margin-left:4px; margin-bottom:0px;height:32px; background: url(/OnlineMealBooking/images/admin_imgs/bottom5.gif) no-repeat;}

#contents .left div.menu #left_menu_cnt ul li a.Selected {padding:3px 1px 2px 42px;width:110px;background:#fff url("/OnlineMealBooking/images/admin_imgs/arrow.gif") no-repeat 18px center;font-weight:600;color:#115888;}
#contents .left div.menu #left_menu_cnt ul li a.Selected:hover {padding:3px 1px 2px 42px;width:110px;background:#ADD7F7 url("/OnlineMealBooking/images/admin_imgs/arrow.gif") no-repeat 18px center;font-weight:400;color:#115888;}


/* 左测菜单 */
#contents .menu_end {height:18px;width:200px;background:#fff url("/OnlineMealBooking/images/admin_imgs/border_end.png") no-repeat left top;}
/* 菜单标题 */
#contents .left div.menu {height:488px!important;height:100%;margin:0;background:url("/OnlineMealBooking/images/admin_imgs/border_bg.png") repeat-y left top;}
*+html #contents .left div.menu {height:100%!important;}

#contents .left div.menu ul#TabPage2 {float:left;width:21px;background:transparent;margin:0px 0 0 0;padding:0 0 0 7px;}
#contents .left div.menu ul#TabPage2 li {color:#165E92;clear:both;font-weight:400;height:89px;width:14px;padding:4px 5px 1px 7px;background:transparent url("/OnlineMealBooking/images/admin_imgs/left_tab_Selectedno.gif") no-repeat left top;CURSOR: pointer;position:relative;z-index:1;}
#contents .left div.menu ul#TabPage2 li.Selected {height:90px;width:14px;padding:3px 4px 2px 8px;font-weight:600;color:#000;background: url("/OnlineMealBooking/images/admin_imgs/left_tab_Selected.gif") no-repeat left top;}
/* 菜单列表 */
#contents .left div.menu #left_menu_cnt {margin:0 0 0 36px!important;margin:0 0 0 30px;}
#contents .left div.menu #left_menu_cnt ul {}
#contents .left div.menu #left_menu_cnt ul li {text-align:left;}
#contents .left div.menu #left_menu_cnt ul li a {display:block;padding:3px 1px 2px 32px;width:120px;border:1px #fff solid;}
#contents .left div.menu #left_menu_cnt ul li a:hover {color:#115888;border:1px #1879BD solid;}



/* 内容右层 */
#contents .right {float:none;height:93%;margin:0 0 0 205px;text-align:left;}
/* 当前操作页面 */
#contents #TabPage1 {height:33px;margin:1px 0 -1px 0;position:relative;z-index:1;}
#contents #TabPage1 li {float:left;margin:0 3px 0 0;padding:12px 0 0 0;width:86px;height:21px;background: url("/OnlineMealBooking/images/admin_imgs/tab.gif") no-repeat left 0;cursor:pointer;color:#fff;text-align:center;letter-spacing:3px;}
#contents #TabPage1 li#Tab3 {display:block!important;display:none;}
#contents #TabPage1 li.Selected {padding:10px 0 0 1px;width:86px;height:23px;background: url("/OnlineMealBooking/images/admin_imgs/tab.gif") no-repeat left -33px;font-size:14px;font-weight:600;color:#000;}
/* 操作页面层 */
#contents #cnt {position:relative;z-index:0;}
#contents #cnt div {height:100%;border:1px #1A76B7 solid;background:#fff;}
#contents #cnt div iframe {height:517px!important;height:100%;width:100%;}
*+html #contents #cnt div iframe {height:100%!important;}/* IE7 hack */
#contents #cnt div#dTab1 {}
#contents #cnt div#dTab2 {display:none;}
#contents #cnt div#dTab3 {display:none;}